*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    margin: auto;
    height: 699px;
}
header{
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    background-color: orange;
}
#menu{
    display: flex;
    justify-content: center;
    margin: 10px;
    
}
#menu li{
    list-style-type: none;
}
#menu li a{
    text-decoration: solid;
    padding: 5px;
    cursor: pointer;
    background-color: aqua;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
}
h1,footer{
    text-align: center;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
#imagen{
    float: left;
    height: 100px;
    padding: 3px;
}
img{
        height: 385px;  
        margin: auto;
}
.img{
    height: 19px;
    filter: grayscale(90%);
    cursor: pointer;
    margin: 4px;
}
article img{
    margin: 5px;
}
#menu li:hover{
    transform: scale(1.1);
    transition: 2s;
}
#menuss{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 0%;
    margin: auto ;
}
aside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 0%;
}
video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
p{
    color: black;
    padding: 12px;
    font-size: large;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h4{
    align-items: center;
    margin: auto;
    align-content: center;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
